body{
    background: linear-gradient(to right, black, blue);
    background-size: cover;
}
.con1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border: 1px solid;
    padding: 20px;
    border-radius: 5px;
    background: linear-gradient(rgb(213, 188, 193),rgb(59, 51, 222));
}
label{
    font-size: 20px;
}
input{
    margin-bottom: 10px;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}
button{
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    background-color: limegreen;
    cursor: pointer;
}
.cal{
    text-align: center;
}
a {
    display: block;
    width: fit-content;
    border: 1px solid #af053b;
    padding: 14px 75px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
a:hover{
    background: gold;
}